<%= form_for(@user, html: { multipart: true }) do |f| %>
<%= render 'errors' %>
  <div>
    <%= f.label :username %><br>
    <p><%= f.text_field :username, autofocus: true %><br></p>
  </div>
  <p>
    <%= f.label :avatar, "Select an image as a profile picture" %> <br>
    <%= f.file_field :avatar, class: "btn btn-light"  %>
  </p>
  <div>
    <%= f.submit class: "btn-primary btn "%>
  </div>
<% end%>