<%= form_for(@user) do |f| %>
<%= render 'errors' %>
  <div>
    <%= f.label :username %><br>
    <%= f.text_field :username, autofocus: true %><br>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end%>