<div class="d-flex">
<section class="col-9 border-right">
    <h1></h1>
    <div class="cover-area my-2"><%= image_tag 'default-cover' %></div>
    <div class="border-bottom">
      <ul class="d-flex upper-section text-left m-0 p-0 namer">
        <li><%= link_to 'Rumours'%></li>
        <li class="mx-2"><%= link_to 'Photos'%></li>
        <li><%= link_to 'Following'%></li>
        <li class="mx-2"><%= link_to 'Followers'%></li>
        <li><%= link_to 'Favorites'%></li>
        <li class="mx-2"><%= link_to 'Lists'%></li>
      </ul>
    </div>
<%= create_post_if_current_user(@user) %>
<h3 class="ml-4">All rumours</h3>
    <article class="bg-white px-4 py-2 my-4 ">
    <% @posts.each do |post| %>
      <div class="d-flex border-bottom border-top my-2 py-2">
      <div class="avatar-for-posts"><%= avatar_for(post.user)%></div>
      <div class="d-flex flex-column ml-2">
        <b><%= link_to post.user.username, post.user %></b>
        <%= post.body %>
        <div>
      <%= edit_post(post, @user) %>
      </div>
      </div>
      </div>
      <% end %>
      </article>
  </section>
  <section class="col-3">
    <div class="container my-2">
      <div class="text-center"> 
        <div class="profile-avatar"><%= avatar_for(@user, size: 100)%></div>
        <h1><%= @user.username %></h1>
        <div id="count" class = "d-flex justify-content-around m-2 table-bordered">
              <div class="namer col-4 text-center p-0">
                <p class='m-auto'><%= @user.posts.count %></p>
                <h6 class="small">rumours</h6>
              </div>
              <div class="namer col-4 text-center p-0 border-right border-left">
                <p class='m-auto'><%= @user.following.count %></p>
                <h6 class="small">following</h6>
              </div>
              <div class="namer col-4 text-center p-0">
                <p class='m-auto'><%= @user.followers.count %></p>
                <h6 class="small">followers</h6>
              </div>
            </div>
        <div><%= render 'follow_button', :user => User.find(params[:id]) %></div>
      <%= edit_account(@user) %>
      <h4 class="border-top border-bottom my-2 py-2">Followed by </h4>
      <%= see_followers(@user) %>
    </div>
  </section>

</div>