<div class="d-flex">
<section class="col-9 border-right">
    <h1></h1>
    <div class="cover-area my-2"><%= image_tag 'default-cover' %></div>
    <div class="border-bottom">
      <ul class="d-flex upper-section text-left m-0 p-0 namer">
        <li><%= link_to 'Rumours'%></li>
        <li class="mx-2"><%= link_to 'Photos'%></li>
        <li><%= link_to 'Following'%></li>
        <li class="mx-2"><%= link_to 'Followers'%></li>
        <li><%= link_to 'Favorites'%></li>
        <li class="mx-2"><%= link_to 'Lists'%></li>
      </ul>
    </div>
<% if current_user?(@user) %>
    <section class="bg-white px-4 py-2 my-4"><%= render 'posts/form' %></section>
<% end %>
<h3 class="ml-4">All rumours</h3>
    <article class="bg-white px-4 py-2 my-4 ">
    <% @posts.each do |post| %>
      <div class="d-flex border-bottom border-top my-2 py-2">
      <div class="avatar-for-posts"><%= avatar_for(post.user)%></div>
      <div class="d-flex flex-column ml-2">
        <b><%= link_to post.user.username, post.user %></b>
        <%= post.body %>
        <div>
      <% if current_user?(@user) %>
        <%= link_to edit_post_path(post) do %>
          <%= fa_icon "edit" %>
        <% end %>
        <%= link_to post_path(post), method: :delete, class: "text-danger",  data: {confirm: "Are you sure to delete the post?"} do %>
          <%= fa_icon "trash" %>
        <% end %>
      <% end %>
      </div>
      </div>
      </div>
      <% end %>
      </article>
  </section>
  <section class="col-3">
    <div class="container my-2">
      <div class="text-center"> 
        <div class="profile-avatar"><%= avatar_for(@user, size: 100)%></div>
        <h1><%= @user.username %></h1>
        <div id="count" class = "d-flex justify-content-around m-2 table-bordered">
              <div class="namer col-4 text-center p-0">
                <p class='m-auto'><%= @user.posts.count %></p>
                <h6 class="small">rumours</h6>
              </div>
              <div class="namer col-4 text-center p-0 border-right border-left">
                <p class='m-auto'><%= @user.following.count %></p>
                <h6 class="small">following</h6>
              </div>
              <div class="namer col-4 text-center p-0">
                <p class='m-auto'><%= @user.followers.count %></p>
                <h6 class="small">followers</h6>
              </div>
            </div>
        <div><%= render 'follow_button', :user => User.find(params[:id]) %></div>
      <% if current_user?(@user) %>
        <p><%= link_to 'Edit account', edit_user_path %></p>
        <p><%= link_to 'Delete account', user_path, method: :delete, data: { confirm: "Are you sure to delete your account?" } %></p>
      </div>
      <% end %>
      <h4 class="border-top border-bottom my-2 py-2">Followed by </h4>
      <% if @user.followers.any? %>
      <% @user.followers.each do |follower| %>
        <div class="my-2 d-flex justify-content-between">
            <div class="avatar-for-posts col-4 p-0"><%= avatar_for(follower) %></div>
            <h5 class="col-8 d-flex align-items-center font-weight-bold"><span><%= link_to follower.username, follower %></span></h5>
        </div>
      <% end %>
      <% else %>
        <% if current_user?(@user) %>
          <h4>You have no followers</h4>
        <% else %>
          <h4><%= @user.username %> have no followers</h4>
        <% end %>
      <% end %>
    </div>
  </section>

</div>