<%= render 'errors' %>
<%= form_for(@post) do |f| %>
  <fieldset>
  <%= f.label :body, "Share with rumours:"  %><br>
  <div class="rounded">
  <%= f.text_area :body, autofocus:true, placeholder: "Compose a new rumour", class: "my-2 p-1" %>
  </div>
  </fieldset>
  <div>
  <%= f.submit "Post", class: "btn btn-primary w-25" %>
  </div>
  <% end %>