<div class="d-flex">

  <section class="col-9">
      <h1></h1>
    <%= render 'form' %>
    <% @posts.each do |post| %>
      <div>
        <b><%= post.user.username %></b>
        <%= post.body %>
      </div>
      <% end %>
      <div>
        <h4>Who to follow</h4>
        <% current_user.following.each do |person| %>
        <% person.following.each do |ffuser| %>
          <ul>
            <%= avatar_for(ffuser) %>
            <li><%= link_to ffuser.username, ffuser %> followed by <%= person.username %> </li>
          </ul>
          <% end %>
        <% end %>
      </div>
  </section>
</div>