<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>
    <% if flash[:notice] %>
      <%= notice %>
    <% else %>
      <%= alert %>
    <% end %>
  </p>
  <p>
    <%= link_to 'Homepage', root_url %>
  </p>
    <%= yield %>
  <p>
  <% if current_user %>
    <%= link_to(avatar_for(current_user, size: 35), current_user) %><%= current_user.username %>
    <%= link_to "Sign out", session_path, method: :delete, notice: "Signed out!" %>
  <% else %>
    <%= link_to 'Sign up', new_user_path %>
    <%= link_to 'Sign in', new_session_path %>
  <% end %>
  </p>
  </body>
</html>
