<!DOCTYPE html>
<html>
  <head>
    <title>TwitterRedesign</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p>
    <% if flash[:notice] %>
      <%= notice %>
    <% else %>
      <%= alert %>
    <% end %>
  </p>
  <p>
    <%= link_to 'Homepage', root_url %>
  </p>
    <%= yield %>
  <p>
    <%= link_to 'Sign up', new_user_path %>
  </p>
  </body>
</html>
